<main class="container mx-auto my-16 mb-28">
  <h1 class="text-3xl mb-4">Bienvenido</h1>
  <section class="max-w-md">
    <p class="mb-4 text-gray-500">Lorem facere dicta mollitia exercitationem quis Vitae quam assumenda nisi nemo rerum id dolore, obcaecati Qui sapiente facilis inventore consequuntur quas est assumenda Numquam dolores omnis at eaque assumenda Ad!</p>
    <p class="mb-8 text-gray-500">Lorem et nisi minus quo maxime consequatur mollitia, dolorem vitae Dolores doloribus blanditiis dolorum voluptatibus nesciunt Quo aliquam cum officiis optio rem, dolorum! Cupiditate corrupti laudantium sequi ducimus beatae, ea?</p>
  </section>
</main>
