<main class="container mx-auto my-16 mb-28">
  <h1 class="text-3xl mb-4">Acerca de nosotros</h1>
  <section class="max-w-md">
    <p class="mb-4 text-gray-500">Lorem facere dicta mollitia exercitationem quis Vitae quam assumenda nisi nemo rerum id dolore, obcaecati Qui sapiente facilis inventore consequuntur quas est assumenda Numquam dolores omnis at eaque assumenda Ad!</p>
    <p class="mb-8 text-gray-500">Lorem et nisi minus quo maxime consequatur mollitia, dolorem vitae Dolores doloribus blanditiis dolorum voluptatibus nesciunt Quo aliquam cum officiis optio rem, dolorum! Cupiditate corrupti laudantium sequi ducimus beatae, ea?</p>
  </section>
  <section>
    <h2 class="text-2xl mb-4">Contacto</h2>
    <form class="flex flex-col items-stretch md:items-start">
      <label for="input_email">Autor:</label>
      <input class="w-full max-w-md mb-4 border-2 border-purple-300 border-solid rounded-md p-2" placeholder="Ej.: Carlos Enrique" id="input_email" type="email">
      <label for="input_mensaje">Mensaje:</label>
      <textarea class="w-full max-w-md border-2 border-purple-300 border-solid rounded-md p-2 resize-none" placeholder="Escribe aquí tu mensaje..." id="input_mensaje" rows="6"></textarea>
      <button type="button" class="px-6 py-2 cursor-pointer rounded-md text-white bg-gradient-to-r from-purple-500 to-blue-400 mt-4">Enviar</button>
    </form>
  </section>
</main>
